<ion-header>
  <ion-toolbar color="light">
    <ion-title>
      Edit Penerima
    </ion-title>
    <ion-buttons slot="start">
      <ion-button color="dark" (click)="dismiss()">
        <ion-icon slot="icon-only" name="chevron-back"></ion-icon>
      </ion-button>
    </ion-buttons> 
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="ion-no-padding">
    <ion-item>
      <ion-label position="floating">Penerima:</ion-label>
      <ion-input [(ngModel)]="invoice.penerima.nama" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">No HP:</ion-label>
      <ion-input [(ngModel)]="invoice.penerima.hp" type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Alamat:</ion-label>
      <ion-textarea [(ngModel)]="invoice.penerima.alamat" rows="2" autoGrow="true"></ion-textarea>
    </ion-item>
    <ion-item [button]="!editKec" (click)="editKec=true" [detail]="!editKec">
      <ion-label style="max-width: 100%;">Kecamatan:
        <span *ngIf="!editKec"> {{invoice.penerima.kec}}</span>
      </ion-label>
      <ion-input *ngIf="editKec" [(ngModel)]="invoice.penerima.kec" (keyup)="cariKecamatan(invoice.penerima.kec)" type="text"></ion-input>
    </ion-item>
    <ion-list *ngIf="editKec" class="ion-no-padding">
      <ion-item button (click)="pilihKecamatan(data)" *ngFor="let data of listKecamatan">
        <ion-label>
          <b>{{data.subdistrict_name}}</b>, {{data.city}}
          <p>{{data.province}}</p>
        </ion-label>
      </ion-item>
    </ion-list>

    <ion-item *ngIf="!editKec">
      <ion-label>Kabupaten:</ion-label>
      <ion-input [(ngModel)]="invoice.penerima.kab" disabled type="text"></ion-input>
    </ion-item>
    <ion-item *ngIf="!editKec">
      <ion-label>Provinsi:</ion-label>
      <ion-input [(ngModel)]="invoice.penerima.prov" disabled type="text"></ion-input>
    </ion-item>

    <ion-button [disabled]="onProcess" (click)="updatePenerima()" style="margin: 8px;" expand="block" color="primary">
      UPDATE PENERIMA&nbsp;<ion-spinner *ngIf="onProcess" name="dots"></ion-spinner>
    </ion-button>

    <p style="font-size: 12px;text-align: center;color: var(--ion-color-medium-tint);margin: 0;">
      <ion-icon name="information-circle" color="medium" style="margin:2px;vertical-align: bottom;"></ion-icon>
      &nbsp;Mengganti alamat penerima akan mereset ulang ongkir, biaya keep, dan total invoice.
    </p>

  </ion-list>
</ion-content>
