<ion-header *ngIf="(invoice | async) as inv">
  <ion-toolbar color="secondary" mode="ios">
    <ion-buttons mode="md" slot="start">
      <ion-button (click)="dismiss()" >
        <ion-icon slot="icon-only" name="chevron-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Informasi Invoice</ion-title>
    <ion-buttons mode="md" slot="end">
      <ion-button (click)="delete(user, inv)" >
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar style="padding: 0 15px;" color="secondary">
    <p>
      <span class="toolbar-title">Invoice</span> <br>
      <span class="toolbar-note">#{{inv.id}}</span>
    </p>
    <p slot="end" style="text-align: right;">
      <span class="toolbar-title">Tanggal</span> <br>
      <span class="toolbar-note">{{(inv.waktuOrder*1000) | date:'dd/MM/yyyy'}}</span>
    </p>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="(invoice | async) as inv" color="grey">

  <ion-list class="divided">
    <ion-item button color="light" lines="none" style="height:auto;font-size:14px">
      <ion-icon class="avatar" name="navigate-circle" slot="start"></ion-icon>
      <ion-label>
        <b>{{inv.penerima.nama.toUpperCase()}}</b><br>
        <span>
          +{{inv.penerima.hp}}<br>
          {{tool.titleCase(inv.penerima.alamat)}},<br>
          Kec.{{tool.titleCase(inv.penerima.kec)}},<br>
          Kab.{{inv.penerima.kab}},<br>
          Prov.{{inv.penerima.prov}}
        </span>
      </ion-label>
    </ion-item>
    <ion-item button color="light" lines="none" style="height:auto;">
      <ion-icon class="avatar" name="gift" slot="start"></ion-icon>
      <ion-label>
        <p style="color: var(--ion-color-primary);">Pengirim</p>
        <p><b>{{inv.pengirim.nama.toUpperCase()}}</b> | +{{inv.pengirim.hp}}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list class="divided">
    <ion-item-divider color="light" style="border-bottom:none;color: var(--ion-color-primary);">
      <span style="color: var(--ion-color-primary);">
        Pesanan
      </span>
      <span slot="end" style="margin-right: 15px;text-align: right;">
        <p style="margin:0;">Harga Jual</p>
      </span>
    </ion-item-divider>

    <ion-item button *ngFor="let item of inv.pesanan; let i = index" color="light" [lines]="(inv.pesanan.length===(i+1))?'none':'none'">
      <ion-label class="no-margin">
        <ion-icon [name]="cssBarang(item).icon" [color]="cssBarang(item).color"></ion-icon>
        <strong> {{tool.titleCase(item.nama)}} </strong> {{tool.titleCase(item.warna)}}
        <p class="note">
          {{item.toko.toUpperCase()}} | ±{{item.berat | number}} gr | Rp.{{item.hargaBeli | number}}
        </p>
      </ion-label>
      <ion-note slot="end" style="text-align:right;padding: 8px 0;">
        <p style="margin: 0;">Rp.{{item.hargaJual | number}}</p>
      </ion-note>
    </ion-item>

    <ion-item-divider color="grey" style="padding: 0;">
      <ion-button fill="clear" expand="full" style="margin: 0;width: 100%;">
        <ion-label>
          TAMBAH PESANAN
          <span> +</span>
        </ion-label>
      </ion-button>
    </ion-item-divider>

    <ion-item color="light" lines="none">
      <ion-label class="no-margin">
        <b>Subtotal:</b>
        <p class="note">±{{olahPesanan(inv).beratPaket / 1000 | number}}Kg | Rp.{{(inv.pesanan | pluck:'hargaBeli' | sum) | number}}</p>
      </ion-label>
      <ion-note slot="end" style="text-align:right;">
        <p style="margin: 0;"><strong>Rp.{{(inv.pesanan | pluck:'hargaJual' | sum) | number}}</strong></p>
      </ion-note>
    </ion-item>

    <ion-item *ngIf="!inv.ekspedisi" color="light" lines="none" button detail>
      <ion-label>Pilih Ekspedisi</ion-label>
    </ion-item>

  </ion-list>

</ion-content>