<ion-header>
  <ion-toolbar mode="ios" color="secondary">
    <ion-title>Keeper Reseller</ion-title>
  </ion-toolbar>
  <ion-item-divider *ngIf="user && !user.activated" color="warning" sticky>
    <ion-label style="margin: 10px auto;">Akun anda belum diaktivasi</ion-label>
  </ion-item-divider>
</ion-header>
<ion-content fullscreen>
  <super-tabs [config]="config" activeTabIndex="2">
    <super-tabs-toolbar slot="top" color="secondary">
      <super-tab-button>
        <ion-icon style="padding-top:10px;" name="archive"></ion-icon>
        <ion-label class="tab-label">Ambilan</ion-label>    
      </super-tab-button>
      <super-tab-button>
        <ion-icon style="padding-top:10px;" name="apps"></ion-icon>
        <ion-label class="tab-label">Keep</ion-label>    
      </super-tab-button>
      <super-tab-button>
        <ion-icon style="padding-top:10px;" name="person"></ion-icon>
        <ion-label class="tab-label">Akun</ion-label>    
      </super-tab-button>
    </super-tabs-toolbar>
    <super-tabs-container color="light">
      <super-tab>
        <ion-nav [root]="ambilanPage" [rootParams]="{ hello: 'world' }"></ion-nav>
      </super-tab>
      <super-tab>
        <ion-nav [root]="keepPage" [rootParams]="{ hello: 'world' }"></ion-nav>
      </super-tab>
      <super-tab>
        <ion-nav [root]="akunPage" [rootParams]="{ hello: 'world' }"></ion-nav>
      </super-tab>
    </super-tabs-container> 
  </super-tabs>
</ion-content>

<!-- <ion-tabs>

  <ion-tab-bar slot="bottom" color="secondary">
    <ion-tab-button tab="ambilan">
      <ion-icon name="archive"></ion-icon>
      <ion-label>Ambilan</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="keep">
      <ion-icon name="duplicate"></ion-icon>
      <ion-label>Keep</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="akun">
      <ion-icon name="person"></ion-icon>
      <ion-label>Akun</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs> -->