<ion-header>
  <ion-toolbar color="secondary" mode="ios">
    <ion-buttons slot="start">
      <ion-button (click)="dismiss(inputOrder)" >
        <ion-icon slot="icon-only" name="chevron-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Verifikasi Orderan</ion-title>
  </ion-toolbar>
  <ion-toolbar style="padding: 0 15px;" color="secondary" *ngIf="inputOrder as inv">
    <p>
      <span class="title">Invoice</span> <br>
      <span class="titleName">#{{inv.id}}</span>
    </p>
    <p slot="end" style="text-align: right;">
      <span class="title">Tanggal</span> <br>
      <span class="titleName">{{(inv.waktuOrder*1000) | date:'dd/MM/yyyy'}}</span>
    </p>
  </ion-toolbar>
</ion-header>

<ion-content color="light" *ngIf="inputOrder as inv" fullscreen>
  <ion-item color="light" lines="none" style="border-top: 0.5px solid var(--ion-color-secondary-shade);height: auto;">
    <ion-icon class="avatar" name="navigate-circle" slot="start"></ion-icon>
    <p style="margin: 10px 0 5px;">
      <span class="titleName"><b>{{inv.penerima.nama.toUpperCase()}}</b> | </span> 
      +{{inv.penerima.hp}}<br>
      <span class="note">
        {{tool.titleCase(inv.penerima.alamat)}},
        Kec. {{tool.titleCase(inv.penerima.kec)}},&nbsp;
        Kab. {{inv.penerima.kab}},&nbsp;
        Prov. {{inv.penerima.prov}}
      </span>
    </p>
  </ion-item>
  <ion-item button color="light" lines="full">
    <ion-ripple-effect></ion-ripple-effect>
    <ion-icon class="avatar" name="gift" slot="start"></ion-icon>
    <p style="margin: 5px 0 10px;">
      <span class="title" style="color: var(--ion-color-primary);">Pengirim</span> <br>
      <span class="titleName">{{inv.pengirim.nama.toUpperCase()}} | +{{inv.pengirim.hp}}</span> <br>
    </p>
  </ion-item>
  <ion-list style="padding:0">
    <ion-item-divider color="light" style="border-bottom: none;margin-top: 8px;color: var(--ion-color-primary);">
      <p style="color: var(--ion-color-primary);">Barang</p>
      <p slot="end" style="margin-right: 17px;color: var(--ion-color-primary);">Harga Beli</p>
    </ion-item-divider>
    <ion-item button *ngFor="let item of inv.pesanan" color="light" lines="none">
      <ion-ripple-effect></ion-ripple-effect>
      <ion-label>
        <strong> {{tool.titleCase(item.nama)}} </strong> {{tool.titleCase(item.warna)}}
        <br>
        <p style="font-size: 10px;color: var(--ion-color-medium-tint);">
          {{item.toko.toUpperCase()}} | {{item.berat}} gram
        </p>
      </ion-label>
      <ion-note slot="end" style="font-size: 15px; padding: 14px 0 14px 16px;color: var(--ion-color-dark);">Rp.{{item.hargaBeli | number}}</ion-note>
    </ion-item>
    <ion-item color="light" lines="none" style="border-top: solid 1px lightgrey;">
      <ion-label><b>Subtotal:</b></ion-label>
      <ion-note slot="end" style="color: var(--ion-color-dark);font-size: 15px;padding: 14px 0 14px 16px;"><strong>Rp.{{(inv.pesanan | pluck:'hargaBeli' | sum) | number}}</strong></ion-note>
    </ion-item>
    <ion-item color="light" lines="none" style="border-top: solid 1px lightgrey;">
      <ion-label>Biaya Keep:</ion-label>
      <ion-note slot="end" style="color: var(--ion-color-dark);font-size: 15px;padding: 14px 0 14px 16px;"><strong>Rp.{{inv.pesanan | pluck:'biaya_keep' | sum | number}}</strong></ion-note>
    </ion-item>
    <!-- <ion-item color="light" lines="none">
      <ion-label>Kode Unik:</ion-label>
      <ion-note slot="end" style="font-size: 15px; padding: 14px 0 14px 16px;color: var(--ion-color-dark);">Rp.{{inv.kodeUnik | number}}</ion-note>
    </ion-item> -->
    <ion-item color="light" lines="none">
      <ion-label color="primary" style="font-size: 18px;"><b>Total Keep:</b></ion-label>
      <ion-note slot="end" style="font-size: 18px; padding: 14px 0 14px 16px;color: var(--ion-color-primary);"><b>Rp.{{[(inv.pesanan | pluck:'hargaBeli' | sum), (inv.pesanan | pluck:'biaya_keep' | sum)] | sum | number}}</b></ion-note>
    </ion-item>
    <ion-item color="light" lines="none">
      <span class="ion-text-center">
        <b>Harga jual</b>, <b>ongkir</b>, dan <b>diskon</b>, dapat dimasukkan nanti ketika membuat tagihan untuk customer kakak.
      </span>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-button expand="full" color="primary" (click)="verif()" style="margin: 0; height: 40px;">
    <ion-icon name="add"></ion-icon>&nbsp;
    TAMBAH INVOICE
  </ion-button>
</ion-footer>