// ion-list ion-item {
//     --background: lightgray;
//     border: 3px solid grey;
// }

.title {
    font-size: small;
    color: gray;
}

.titleName {
    font-size: unset;
}

.note {
    font-size: small;
    color: grey;
}

ion-icon {
    font-size: 90px;
    padding-right: 10px;
}
