<ion-header>
  <ion-toolbar mode="ios" color="secondary">
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon name="chevron-back" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Edit Profil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-list [formGroup]="regForm" *ngIf="userService.user$ | async as user" class="reg-form">
    <ion-item color="light">
      <ion-label position="stacked">Email</ion-label>
      <ion-input disabled [value]="user.email"></ion-input>
    </ion-item>
    <ion-item color="light">
      <ion-label position="stacked">Nama Online Shop</ion-label>
      <ion-input formControlName="displayName"></ion-input>
    </ion-item>
    <ion-item color="light">
      <ion-label position="stacked">Username</ion-label>
      <ion-input formControlName="username" placeholder="Buat username unik"></ion-input>
    </ion-item>
    <ion-note>
      <p>Misalkan kakak menggunakan nama 'NH Store' sebagai nama keep di toko, gunakan 'nh_store' atau 'nhstore' sebagai username</p>
    </ion-note>
    <ion-item color="light">
      <span slot="start" class="preffix">+62&nbsp;</span>
      <ion-label position="stacked">Nomor WA</ion-label>
      <ion-input formControlName="hp" type="tel" class="input-preffix"></ion-input>
    </ion-item>
    <ion-label *ngIf="regForm.invalid">
      <p *ngIf="regForm.controls.displayName.errors?.required && (regForm.controls.username.dirty || regForm.controls.username.touched)">Nama wajib diisi</p>
      <p *ngIf="regForm.controls.username.errors?.required && (regForm.controls.username.dirty || regForm.controls.username.touched)">Username belum diisi</p>
      <p *ngIf="regForm.controls.username.errors?.minlength && (regForm.controls.username.dirty || regForm.controls.username.touched)">Username minimal 3 huruf/angka</p>
      <p *ngIf="regForm.controls.username.errors?.maxlength && (regForm.controls.username.dirty || regForm.controls.username.touched)">Username maksimal 15 huruf/angka</p>
      <p *ngIf="regForm.controls.username.errors?.pattern && (regForm.controls.username.dirty || regForm.controls.username.touched)">Username hanya boleh berupa huruf, angka, dan underscore</p>
      <p *ngIf="(regForm.controls.hp.errors?.pattern || regForm.controls.hp.errors?.minlength) || (regForm.controls.hp.errors?.required && (regForm.controls.hp.dirty || regForm.controls.hp.touched))">HP tidak valid</p>
    </ion-label>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-button [disabled]="onreg || regForm.invalid" (click)="update(user.configured)"
  expand="full" style="margin:0;height: 40px" color="primary"
  *ngIf="(userService.user$ | async) as user">
    <ion-icon *ngIf="!onreg" name="log-in"></ion-icon>&nbsp;
    <ion-label *ngIf="!onreg">UPDATE PROFIL</ion-label>
    <ion-spinner *ngIf="onreg" style="vertical-align:middle;" name="dots"></ion-spinner>
    <ion-label *ngIf="onreg">VALIDASI DATA</ion-label>
    <ion-spinner *ngIf="onreg" style="vertical-align:middle;" name="dots"></ion-spinner>
  </ion-button>
</ion-footer>