<ion-content color="light" [fullscreen]="true" *ngIf="userService.user$ | async as user">
  <ion-list class="ion-no-padding" *ngFor="let data of switcher.getAmbilan(user) | async | groupBy:'toko' | keyvalue">
    <ion-item-divider color="primary" sticky>{{data.key.toUpperCase()}}</ion-item-divider>
    <ion-item color="light" *ngFor="let barang of data.value">
      <ion-label>
        <p class="text-secondary" style="font-size: 10px;">{{barang.penerima.toUpperCase()}}</p>
        <h4>{{tool.titleCase(barang.nama)}} {{tool.titleCase(barang.warna)}}</h4>
      </ion-label>
      <ion-chip slot="end" color="dark">
        {{barang.statusKeep.toUpperCase()}}
      </ion-chip>
    </ion-item>
  </ion-list>
</ion-content>
