<ion-header class="ion-no-border">
  <ion-toolbar mode="ios" style="text-align: center;">
    <img src="assets/logo.svg" class="logo">
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-slides #slides pager="true" (ionSlideWillChange)="onSlideChangeStart($event)">
    <ion-slide>
      <img src="assets/img/ica-slidebox-img-1.png" class="slide-image" />
      <h2 class="slide-title">
        Apa itu <b>Keeper</b>?
      </h2>
      <p>
        Keeper adalah <b>aplikasi pengelola orderan yg praktis dan canggih</b>,
        tinggal copas format orderan kakak, langsung deh dibaca & disimpan sama aplikasi pintar <b>Keeper</b>!
      </p>
    </ion-slide>

    <ion-slide>
      <img src="assets/img/ica-slidebox-img-2.png" class="slide-image" />
      <h2 class="slide-title">
        Gak sekedar kelola orderan!
      </h2>
      <p>
        <b>Keeper</b> terintegrasi dengan server pengambilan barang secara realtime, kakak gak perlu lagi panas panas ambil barang ke supplier,
        serahkan aja ambilan kakak ke <b>Agen Keeper</b> kami!
      </p>
    </ion-slide>

    <ion-slide>
      <img src="assets/img/ica-slidebox-img-3.png" class="slide-image" />
      <h2 class="slide-title">
        Banyak fitur pendukung
      </h2>
      <p>
        Dengan <b>Keeper</b>, gak perlu ribet totalin barang, ngecek ongkir, dan buat label pengiriman! dengan <b>Keeper</b> 
        semua bisa ditangani, bahkan laporan penjualan kakak juga ada lho!
      </p>
    </ion-slide>

    <ion-slide>
      <img src="assets/img/ica-slidebox-img-4.png" class="slide-image" />
      <h2 class="slide-title">Siap untuk memulai menggunakan <b>Keeper</b>?</h2>
    </ion-slide>
  </ion-slides>
  <ion-button class="btn" expand="full" color="primary" (click)="next()">
    <ion-icon *ngIf="showLogin" slot="start" name="logo-google"></ion-icon>
    <ion-label *ngIf="!showLogin">Selanjutnya</ion-label>
    <ion-label *ngIf="showLogin">LOGIN DENGAN GOOGLE</ion-label>
  </ion-button>
</ion-content>