<ion-content color="light" scroll="false" *ngIf="user">
  
  <ion-list *ngIf="onload" class="ion-no-padding">
    <ion-item lines="full" *ngFor="let a of [1,2,3,4,5,6,7]">
      <ion-label>
        <h2><ion-skeleton-text animated style="width: 60%;height: 18px"></ion-skeleton-text></h2>
        <p><ion-skeleton-text animated style="width: 40%"></ion-skeleton-text></p>
      </ion-label>
      <ion-note>
        <h5 style="color: #bb0303">
          <strong><ion-skeleton-text animated style="width: 75px;height: 20px;"></ion-skeleton-text></strong>
        </h5>
      </ion-note>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="!onload && invoices.length === 0" class="ion-no-padding">
    <div class="image-holder">
      <img src="assets/img/box-empty.svg" />
      <ion-label>Belum ada pesanan</ion-label>
    </div>
  </ion-list>

  <ion-list *ngIf="!onload" color="primary" class="ion-no-padding">
    <ion-item-group color="primary" *ngIf="invoices as invoice">
      <ion-item button (click)="openInvoice(inv)" color="light" line="full" *ngFor="let inv of modeSwitcher(invoice, user) | orderBy:'-waktuOrder'">
        <ion-ripple-effect></ion-ripple-effect>
        <ion-label>
          <h4><b>{{inv.penerima.nama.toUpperCase()}}&nbsp;</b><span class="text-secondary"><span class="dot"></span>&nbsp;+{{inv.penerima.hp}}</span></h4>
          <p class="text-secondary"><b>{{tool.titleCase(inv.pesanan[0].nama)}} {{tool.titleCase(inv.pesanan[0].warna)}}</b>,&nbsp;<span>+{{inv.pesanan.length - 1}} Produk</span></p>

          <ion-badge [color]="inv.dibayar?'success':'warning'">
            <ion-text *ngIf="inv.total">Rp.{{inv.total | number}}</ion-text>
            <ion-text *ngIf="!inv.total">Belum Totalan</ion-text>
          </ion-badge>

          <ion-badge [color]="inv.biaya_dibayar?'success':'danger'" style="margin-left: 5px;">
            <ion-icon style="font-size: 10px;" name="wallet"></ion-icon>&nbsp;
            <ion-text *ngIf="!inv.biaya_dibayar">Belum Dibayar</ion-text>
            <ion-text *ngIf="inv.biaya_dibayar">Keep Dibayar</ion-text>
          </ion-badge>

        </ion-label>
      </ion-item>
    </ion-item-group>
  </ion-list>
</ion-content>

<ion-footer *ngIf="user">
  <mat-accordion class="input-header">
    <mat-expansion-panel (opened)="openInput()" [expanded]="expand" hideToggle style="background-color: var(--ion-color-primary);border-radius: 0;">
      <mat-expansion-panel-header [collapsedHeight]="'45px'" [expandedHeight]="'45px'" style="background-color: var(--ion-color-primary);">
        <mat-panel-title>
          <ion-icon [name]="trialMode?'close':'add'"></ion-icon>&nbsp;
          <strong *ngIf="!trialMode">INPUT ORDERAN BARU</strong>
          <strong *ngIf="trialMode">AKTIVASI AKUN DAHULU</strong>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ion-item [color]="(error && input)?'warning':'light'" class="papper">
        <div class="triangle-back"></div>
        <div [class]="(error && input)?'triangle-folded not-found':'triangle-folded found'"></div>
        <ion-textarea #inputan [disabled]="trialMode" style="margin-bottom: 30px;" [(ngModel)]="input" (ngModelChange)="baca(input)"
          [placeholder]="trialMode?'Batas pemakaian tercapai!, aktivasi akun untuk menambah input order :)':'Paste format order disini...'" rows="7" maxRows="12" autoGrow="true"></ion-textarea >
        <ion-buttons style="position: absolute;right:0;bottom:0;">
          <ion-button (click)="help()" [color]="(error && input)?'light':'primary'"><ion-icon name="help-circle" slot="icon-only"></ion-icon></ion-button>
        </ion-buttons>
        <div [class]="error?'thin-label text-error':'thin-label text-success'" *ngIf="input?.length>0" >
          <span *ngIf="error">{{error}}</span>
          <span *ngIf="!error && inputOrder">Pilih Kecamatan:</span>
        </div>
      </ion-item>
      <ion-list style="margin-top: 5px;" class="ion-no-padding list-container" *ngIf="actionOnError && error">
        <ion-item button color="primary" class="thin-list" (click)="openToko()" lines="full">
          <ion-ripple-effect></ion-ripple-effect>
          <ion-label class="thin-list-kec" style="margin-bottom: 5px;">
            <strong>LIHAT LIST TOKO YG DIDUKUNG</strong>
          </ion-label>
        </ion-item>
      </ion-list>
      <div scrollY="true" id="fixScroll">
        <ion-list class="ion-no-padding list-container" *ngIf="input?.length>0 && inputOrder && !error">
          <ion-item button *ngFor="let kec of listKecamatan" color="primary"
          class="thin-list" (click)="pilih(kec)" lines="full">
            <ion-ripple-effect></ion-ripple-effect>
            <ion-label class="thin-list-kec" style="margin-bottom: 5px;">
              <strong>{{kec.subdistrict_name}}</strong>, {{kec.city}}, {{kec.province}}
            </ion-label>
            <ion-icon class="checkmark" name="checkmark" *ngIf="kec===kecamatan"></ion-icon>
          </ion-item>
        </ion-list>
      </div>
      <ion-button expand="block" fill="solid" color="light" [disabled]="!kecamatan || error || trialMode"
      (click)="submit(inputOrder, user)" style="margin: 5px 0 0;color:var(--ion-color-light);height: 32px;">
        <span *ngIf="!trialMode"><ion-icon slot="start" name="add"></ion-icon>&nbsp;TAMBAH</span>
        <span *ngIf="trialMode"><ion-icon slot="start" name="close"></ion-icon>&nbsp;AKTIVASI AKUN DAHULU</span>
      </ion-button>
    </mat-expansion-panel>
  </mat-accordion>
</ion-footer>